Repository midnightntwrk/midnight-cnight-to-dust-dapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -lc 'yarn -s eslint --fix --max-warnings=0'
        language: system
        files: \.[jt]sx?$

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -lc 'yarn -s prettier --write --ignore-unknown'
        language: system
        types_or: [javascript, jsx, ts, tsx, json, css, markdown]

chore/fix log
  src/hooks/useToast.ts
Due: eslint, prettier

PM-21594 update Dockerfile for security and copy missing wasm
  Dockerfile
Due: none

Update tar and fix ownership warnings
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Dockerfile
  eslint.config.mjs
  package.json
  prettier.config.js
  yarn.lock
Due: eslint, prettier

Update tar and fix ownership warnings
  prettier.config.cjs
Due: prettier

PM-21594 update Dockerfile for security and copy missing wasm (#49)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Dockerfile
  eslint.config.mjs
  package.json
  prettier.config.cjs
  yarn.lock
Due: prettier

Add id-token permission for Scorecard
  .github/workflows/scan.yml
Due: none

Pm 21594 midnight cnight to dust dapp dockerfile fixes (#52)
  .github/workflows/scan.yml
Due: none

fix: CSP so wasm will load
  next.config.ts
Due: eslint, prettier

fix: CSP so wasm will load (#53)
  next.config.ts
Due: eslint, prettier

Fix/pm 21155 dust generation (#44)
  next.config.ts
  src/app/api/dust/generation-status/[key]/route.ts
  src/app/api/dust/generation-status/route.ts
  src/components/dashboard/GenerationRateCard.tsx
  src/config/network.ts
  src/contexts/TransactionContext.tsx
  src/hooks/useGenerationStatus.ts
  src/hooks/useRegistrationUtxo.ts
  src/lib/dustTransactionsUtils.ts
  yarn.lock
Due: eslint, prettier

chore/fix login not working because of new node version
  next.config.ts
  package.json
  src/app/layout.tsx
  yarn.lock
Due: eslint, prettier

chore/creating polyfill file instead
  src/app/layout.tsx
  src/components/ui/ClientWrapper.tsx
  src/lib/polyfill.ts
Due: eslint, prettier

chore/fix login not working because of new node version (#55)
  next.config.ts
  package.json
  src/components/ui/ClientWrapper.tsx
  src/lib/polyfill.ts
  yarn.lock
Due: eslint, prettier

chore/fix prod
  Dockerfile
  src/lib/utils.ts
Due: eslint, prettier

chore/up logs for config
  Dockerfile
  src/config/network.ts
Due: eslint, prettier

chore/add docker build
  Dockerfile
Due: none

chore/fix prod (#56)
  Dockerfile
  src/config/network.ts
  src/lib/utils.ts
Due: eslint, prettier

fix/docker-build
  .github/workflows/docker-build.yml
Due: none

implement matrix build dedicated images per network
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
Due: none

chore/update so it can build any environment
  .github/workflows/docker-build.yml
  Dockerfile
  docker-entrypoint.sh
Due: none

chore/update to server refactor
  .github/workflows/docker-build.yml
  Dockerfile
  docker-entrypoint.sh
  src/app/api/blockfrost/[...all]/route.ts
  src/app/api/health/ready/route.ts
  src/app/api/runtime-config/route.ts
  src/components/ui/TransactionProgress.tsx
  src/components/ui/TransactionProgressModal.tsx
  src/config/runtime-config.ts
  src/contexts/Providers.tsx
  src/contexts/RuntimeConfigContext.tsx
  src/contexts/WalletContext.tsx
  src/lib/contractUtils.ts
  src/lib/utils.ts
Due: eslint, prettier

chore/update with a small refactor
  src/app/api/health/ready/route.ts
  src/config/network.ts
  src/lib/logger.ts
Due: eslint, prettier

chore/update config and contract id
  src/app/api/blockfrost/[...all]/route.ts
  src/config/network.ts
  src/config/runtime-config.ts
  src/lib/contractUtils.ts
Due: eslint, prettier

chore/update config
  .github/workflows/ci.yml
  Dockerfile
  README.md
  src/config/runtime-config.ts
Due: eslint, prettier

chore/update tests
  src/app/api/blockfrost/[...all]/route.ts
  src/app/api/health/ready/__tests__/ready.test.ts
  src/app/api/health/ready/route.ts
Due: eslint, prettier

DO NOT MERGE YET/update so it can build any environment (#60)
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  Dockerfile
  README.md
  src/app/api/blockfrost/[...all]/route.ts
  src/app/api/health/ready/__tests__/ready.test.ts
  src/app/api/health/ready/route.ts
  src/app/api/runtime-config/route.ts
  src/components/ui/TransactionProgress.tsx
  src/components/ui/TransactionProgressModal.tsx
  src/config/network.ts
  src/config/runtime-config.ts
  src/contexts/Providers.tsx
  src/contexts/RuntimeConfigContext.tsx
  src/contexts/WalletContext.tsx
  src/lib/contractUtils.ts
  src/lib/logger.ts
  src/lib/utils.ts
Due: eslint, prettier

chore/fix preview preprod configs
  README.md
  package.json
  src/app/api/dust/generation-status/[key]/route.ts
  src/app/api/dust/generation-status/route.ts
  src/config/__tests__/runtime-config.test.ts
  src/config/network.ts
  src/contexts/WalletContext.tsx
  src/hooks/useGenerationStatus.ts
  src/lib/__tests__/utils.test.ts
  src/lib/utils.ts
  yarn.lock
Due: eslint, prettier

chore/update popovers
  src/components/dashboard/CardanoWalletCard.tsx
  src/components/dashboard/IndexerSyncBanner.tsx
  src/components/modals/StopGenerationModal.tsx
  src/components/modals/UpdateAddressModal.tsx
  src/components/onboard/ConnectCardanoCard.tsx
  src/components/onboard/ConnectMidnightCard.tsx
  src/components/onboard/MatchAddressesCard.tsx
Due: eslint, prettier

chore/update not needed test files
  src/config/__tests__/runtime-config.test.ts
  src/lib/__tests__/utils.test.ts
Due: eslint, prettier

chore/fix incorrect info
  src/components/onboard/MatchAddressesCard.tsx
Due: eslint, prettier

chore/update nextjs
  package.json
  yarn.lock
Due: prettier

chore/update tar
  build.log
  package.json
  yarn.lock
Due: prettier

chore/update packages
  build.log
  package.json
  yarn.lock
Due: prettier

chore/update all security vulnerabilities
  next.config.ts
  src/app/api/dust/generation-status/[key]/route.ts
  src/app/api/dust/generation-status/route.ts
  src/hooks/useGenerationStatus.ts
  src/lib/cors.ts
  src/lib/logger.ts
  src/lib/rate-limit.ts
Due: eslint, prettier

chore/fix-build-issues
  next.config.ts
  src/components/dashboard/GenerationRateCard.tsx
  src/hooks/useGenerationStatus.ts
Due: eslint, prettier

chore/udpate URL's
  src/app/api/blockfrost/[...all]/route.ts
Due: eslint, prettier

chore/update contract
  public/contracts-old/dust-mapping-validator.plutus
  src/hooks/useGenerationStatus.ts
Due: eslint, prettier

chore/update build
  .trivyignore
  package.json
  yarn.lock
Due: prettier

chore/update contract
  src/config/contract_blueprint.ts
Due: eslint, prettier

fix: SRE-1837 - remediate ZAP findings
  .yarn/releases/yarn-4.12.0.cjs
  README.md
  next.config.ts
  src/components/dashboard/DustLifecycleChart.tsx
  src/config/contract_blueprint.ts
  src/hooks/useGenerationStatus.ts
  src/lib/contractUtils.ts
Due: eslint, prettier
