Repository midnightntwrk/midnight-cnight-to-dust-dapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -lc 'yarn -s eslint --fix --max-warnings=0'
        language: system
        files: \.[jt]sx?$

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -lc 'yarn -s prettier --write --ignore-unknown'
        language: system
        types_or: [javascript, jsx, ts, tsx, json, css, markdown]

feat: add server-side registration UTxO cache for O(1) lookups
  src/app/api/dust/registrations/[address]/__tests__/registrations.test.ts
  src/app/api/dust/registrations/[address]/route.ts
  src/hooks/useRegistrationUtxo.ts
  src/lib/__tests__/registration-cache.test.ts
  src/lib/registration-cache.ts
Due: eslint, prettier

refactor: extract shared Blockfrost config and client
  src/app/api/blockfrost/[...all]/route.ts
  src/app/api/health/ready/route.ts
  src/lib/blockfrost-client.ts
  src/lib/blockfrost-config.ts
  src/lib/contractUtils.ts
  src/lib/registration-cache.ts
Due: eslint, prettier

fix: use lucid in backend; remove custom bech32 parsing
  next.config.ts
  src/app/api/dust/registrations/[address]/__tests__/registrations.test.ts
  src/app/api/dust/registrations/[address]/route.ts
Due: eslint, prettier

fix: use lucid api to decode datum rather than custom cbor parsing
  src/lib/registration-cache.ts
Due: eslint, prettier

fix: clean up types
  src/hooks/useRegistrationUtxo.ts
Due: eslint, prettier

refactor: cleanup duplicate code
  src/hooks/useRegistrationUtxo.ts
  src/lib/contractUtils.ts
  src/lib/registration-cache.ts
Due: eslint, prettier

fix: allow legitimate errors to propagate up from the searchByTxHash callback
  src/hooks/useRegistrationUtxo.ts
Due: eslint, prettier

refactor: move mapping contract details into a module const
  src/hooks/useRegistrationUtxo.ts
  src/lib/contractUtils.ts
  src/lib/registration-cache.ts
Due: eslint, prettier

fix: lint errors; remove special 404 case; separate loop + parse logic
  src/lib/blockfrost-client.ts
  src/lib/registration-cache.ts
Due: eslint, prettier

refactor: reduce duplicated code between warm and cold start scanning
  src/lib/registration-cache.ts
Due: eslint, prettier

docs: document registration-cache.ts
  src/lib/registration-cache.ts
Due: eslint, prettier

test: fix test failures due to mocking issues
  src/config/__tests__/contract_blueprint.test.ts
  src/lib/__tests__/registration-cache.test.ts
Due: eslint, prettier

chore: clean up templates for open source readiness
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation-improvement.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: prettier

chore/update picomatch
  package.json
  yarn.lock
Due: prettier

chore/update effect package
  package.json
  yarn.lock
Due: prettier

chore/update brace-expansion version and tootalnate
  package.json
  yarn.lock
Due: prettier

fix: CORS handling now consistent across routes
  src/app/api/blockfrost/[...all]/route.ts
  src/app/api/dust/generation-status/[key]/route.ts
  src/app/api/dust/generation-status/__tests__/generationStatus.test.ts
  src/app/api/dust/generation-status/route.ts
  src/app/api/dust/registrations/[address]/__tests__/registrations.test.ts
  src/app/api/dust/registrations/[address]/route.ts
  src/lib/cors.ts
Due: eslint, prettier

chore: clean up templates for open source readiness (#161)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation-improvement.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: prettier

chore/fixes to cors and config
  next.config.ts
  src/app/api/dust/registrations/[address]/route.ts
  src/app/api/health/route.ts
  src/lib/cors.ts
  src/lib/logger.ts
  src/lib/rate-limit.ts
  src/lib/registration-cache.ts
Due: eslint, prettier

chore/commit further fix wiht logs to clean up later
  src/contexts/WalletContext.tsx
  src/lib/dustTransactionsUtils.ts
Due: eslint, prettier

chore/update config
  next.config.ts
  src/app/api/blockfrost/[...all]/route.ts
Due: eslint, prettier

fix: add new cost model entries
  src/config/network.ts
  src/config/protocolParameters.ts
  src/contexts/WalletContext.tsx
Due: eslint, prettier

refactor: remove unused duplicate function
  src/config/network.ts
  src/contexts/WalletContext.tsx
Due: eslint, prettier

chore/update tests fix broken txHash on dropdown and delete logs
  src/app/api/blockfrost/[...all]/route.ts
  src/app/api/dust/registrations/[address]/__tests__/registrations.test.ts
  src/components/dashboard/RegistrationUtxoCard.tsx
  src/contexts/WalletContext.tsx
  src/lib/__tests__/cors.test.ts
Due: eslint, prettier

Notes added by 'git notes add'
  2ced46f044d6574ab2fdf67a1e6605f9f63fba01
Due: none

docs: update changelog
  CHANGELOG.md
Due: prettier

add: FAQs, footer legal disclaimer and update Midnight policy links
  src/components/ui/Faqs.tsx
  src/components/ui/Footer.tsx
Due: eslint, prettier

update: FAQ
  src/components/ui/Faqs.tsx
Due: eslint, prettier

fix: persist validatorAddress in cache and use it for UTxO construction
  src/hooks/useRegistrationUtxo.ts
  src/lib/registration-cache.ts
Due: eslint, prettier

Notes added by 'git notes add'
  6b073e8e3ef9ce4a2dde785332d6b6ae155c4b13
Due: none

fix(lint): make ESLint 10 work with the Next/React toolchain
  eslint.config.mjs
  package.json
  yarn.lock
Due: prettier

fix(utils): recover NetworkId type after wallet-sdk-address-format bump
  src/lib/utils.ts
Due: eslint, prettier

fix(wallet): index costModels by number after lucid-evolution bump
  src/contexts/WalletContext.tsx
Due: eslint, prettier

fix(dockerfile): align Midnight ledger package copy path with installed v8 dependency
  Dockerfile
Due: none

fix(dockerfile): align Midnight ledger package copy path with installed v8 dependency (#197)
  Dockerfile
Due: none

Notes added by 'git notes add'
  c1078d215f8a9b4ad514e51ff648e5119dfc1cbd
Due: none

fix:registration cache freshness and txHash/address consistency
  src/app/api/dust/registrations/[address]/route.ts
  src/components/dashboard/MidnightWalletCard.tsx
  src/hooks/useRegistrationUtxo.ts
  src/lib/registration-cache.ts
Due: eslint, prettier

test: mock _ensureFresh in registrations API tests
  src/app/api/dust/registrations/[address]/__tests__/registrations.test.ts
Due: eslint, prettier

fix(registration-cache): rate-limit refreshes to prevent Blockfrost quota exhaustion
  src/lib/registration-cache.ts
Due: eslint, prettier

Notes added by 'git notes add'
  240f36f8c42b4d76d28db48a1d1c601cb4eeeb17
Due: none
