Repository midnightntwrk/midnight-cnight-to-dust-dapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  entry: bash -lc 'yarn -s eslint --fix --max-warnings=0'
  language: system

prettier:
  name: prettier
  entry: bash -lc 'yarn -s prettier --write --ignore-unknown'
  language: system

Remove webpack as we use turbopack
  next.config.ts
Due: eslint, prettier

remove unnecessary comment
  next.config.ts
Due: eslint, prettier

Add ability to password protect the application
  .env.example
  .gitignore
  src/proxy.ts
Due: eslint, prettier

Apply recommended fixes and align next.config to explorer
  next.config.ts
  src/proxy.ts
Due: eslint, prettier

fix: SRE-1837 - remediate ZAP findings (#76)
  .env.example
  .gitignore
  .yarn/releases/yarn-4.12.0.cjs
  README.md
  next.config.ts
  src/components/dashboard/DustLifecycleChart.tsx
  src/config/contract_blueprint.ts
  src/hooks/useGenerationStatus.ts
  src/lib/contractUtils.ts
  src/proxy.ts
Due: eslint, prettier

Don't need scan on main
  .github/workflows/scan.yml
Due: none

Don't need scan on main (#79)
  .github/workflows/scan.yml
Due: none

fix/enforce selection of cNIGHT
  src/lib/dustTransactionsUtils.ts
Due: eslint, prettier

chore/add version to console
  src/components/onboard/ConnectCardanoCard.tsx
Due: eslint, prettier

chore/update to collect all cNight UTXOs
  src/components/dashboard/MidnightWalletCard.tsx
  src/contexts/WalletContext.tsx
  src/lib/dustTransactionsUtils.ts
Due: eslint, prettier

chore/updaste deregistration to stop dust production
  src/lib/dustTransactionsUtils.ts
Due: eslint, prettier

chore/fix headers
  next.config.ts
Due: eslint, prettier

chore/fix csp headers o proxy with nonce
  next.config.ts
  src/proxy.ts
Due: eslint, prettier

chore/add network fixes
  .env.example
  Dockerfile
  src/app/api/dust/generation-status/[key]/route.ts
  src/app/api/dust/generation-status/route.ts
  src/components/onboard/ConnectMidnightCard.tsx
  src/config/runtime-config.ts
  src/contexts/RuntimeConfigContext.tsx
  src/contexts/WalletContext.tsx
  src/hooks/useGenerationStatus.ts
  src/lib/contractUtils.ts
  src/lib/utils.ts
Due: eslint, prettier

fix/hide email subscription
  src/components/ui/Footer.tsx
Due: eslint, prettier

chore/update release notes and copy
  .github/workflows/release-notes.yaml
  package.json
  scripts/generate-release-notes.mjs
  src/components/Home.tsx
  src/components/Navbar.tsx
  src/components/dashboard/CardanoWalletCard.tsx
  src/components/dashboard/DustLifecycleChart.tsx
  src/components/dashboard/GenerationRateCard.tsx
  src/components/dashboard/IndexerSyncBanner.tsx
  src/components/dashboard/MidnightWalletCard.tsx
  src/components/modals/UpdateAddressModal.tsx
  src/components/onboard/ConnectMidnightCard.tsx
  src/components/onboard/MatchAddressesCard.tsx
  src/components/onboard/Stepper.tsx
  src/components/ui/Faqs.tsx
  src/components/ui/Footer.tsx
  src/components/ui/RequirementsCard.tsx
  src/components/ui/TransactionProgress.tsx
  src/components/ui/TransactionProgressModal.tsx
  src/components/wallet-connect/WalletsModal.tsx
  src/contexts/WalletContext.tsx
Due: eslint, prettier

chore/update release notes
  .github/workflows/ci.yml
  scripts/generate-release-notes.mjs
Due: prettier

fix/remove release notes from this branch
  .github/workflows/ci.yml
  .github/workflows/release-notes.yaml
  scripts/generate-release-notes.mjs
Due: prettier

chore/remove all instances
  .github/workflows/ci.yml
Due: none

fix/cardano-value
  src/config/runtime-config.ts
Due: eslint, prettier

chore/fix copy and SPECK to DUST units
  src/components/Home.tsx
  src/components/dashboard/GenerationRateCard.tsx
  src/components/dashboard/MidnightWalletCard.tsx
  src/components/onboard/ConnectMidnightCard.tsx
Due: eslint, prettier

chore/fix nonce
  src/app/layout.tsx
  src/components/ui/ClientWrapper.tsx
  src/proxy.ts
Due: eslint, prettier

chore/add speck to dust
  src/components/dashboard/MidnightWalletCard.tsx
Due: eslint, prettier

chore/code clean up
  .env.example
  DOCKER.md
  Dockerfile
  EXAMPLE.env
  README.md
  src/components/Dashboard.tsx
  src/components/dashboard/DustLifecycleChart.tsx
  src/components/dashboard/GenerationRateCard.tsx
  src/components/dashboard/MidnightWalletCard.tsx
  src/config/env.ts
  src/config/network.ts
  src/lib/utils.ts
  src/proxy.ts
Due: eslint, prettier

chore/reverting not needed changes
  src/lib/utils.ts
Due: eslint, prettier

fix: upgrade packages
  package.json
  yarn.lock
Due: prettier

chore/update fix on UI
  src/components/dashboard/GenerationRateCard.tsx
  src/components/dashboard/MidnightWalletCard.tsx
Due: eslint, prettier

chore/update test
  package-lock.json
  package.json
  src/app/api/blockfrost-cache-stats/__tests__/cacheStats.test.ts
  src/app/api/dust/generation-status/__tests__/generationStatus.test.ts
  src/app/api/runtime-config/__tests__/runtimeConfig.test.ts
  src/components/dashboard/GenerationRateCard.tsx
  src/components/dashboard/MidnightWalletCard.tsx
  src/components/dashboard/__tests__/CardanoWalletCard.test.tsx
  src/components/dashboard/__tests__/ConnectionStatus.test.tsx
  src/components/dashboard/__tests__/GenerationRateCard.test.tsx
  src/components/dashboard/__tests__/IndexerSyncBanner.test.tsx
  src/components/dashboard/__tests__/RegistrationUtxoCard.test.tsx
  src/contexts/__tests__/RuntimeConfigContext.test.tsx
  src/contexts/__tests__/TransactionContext.test.tsx
  src/hooks/__tests__/useGenerationStatus.test.ts
  src/hooks/__tests__/useToast.test.ts
  src/lib/__tests__/cors.test.ts
  src/lib/__tests__/logger.test.ts
  src/lib/__tests__/specksToTDust.test.ts
  src/lib/__tests__/utils.test.ts
  src/lib/specksToTDust.ts
  yarn.lock
Due: eslint, prettier

fix/yarn lock
  yarn.lock
Due: none

chore/fixes pr
  package-lock.json
  src/components/dashboard/__tests__/CardanoWalletCard.test.tsx
  src/components/dashboard/__tests__/ConnectionStatus.test.tsx
  src/components/dashboard/__tests__/GenerationRateCard.test.tsx
  src/components/dashboard/__tests__/IndexerSyncBanner.test.tsx
  src/components/dashboard/__tests__/RegistrationUtxoCard.test.tsx
  src/contexts/__tests__/RuntimeConfigContext.test.tsx
  src/contexts/__tests__/TransactionContext.test.tsx
Due: eslint, prettier

chore/fix update issues
  src/app/hero.ts
  src/components/Dashboard.tsx
  src/components/Navbar.tsx
  src/components/dashboard/CardanoWalletCard.tsx
  src/components/dashboard/ConnectionStatus.tsx
  src/components/dashboard/GenerationRateCard.tsx
  src/components/dashboard/IndexerSyncBanner.tsx
  src/components/dashboard/MidnightWalletCard.tsx
  src/components/dashboard/RegistrationUtxoCard.tsx
  src/components/modals/StopGenerationModal.tsx
  src/components/modals/UpdateAddressModal.tsx
  src/components/onboard/ConnectCardanoCard.tsx
  src/components/onboard/ConnectMidnightCard.tsx
  src/components/onboard/MatchAddressesCard.tsx
  src/components/ui/Faqs.tsx
  src/components/ui/Footer.tsx
  src/components/ui/LoadingBackdrop.tsx
  src/components/ui/RequirementsCard.tsx
  src/components/ui/ToastContainer.tsx
  src/components/ui/TransactionProgress.tsx
  src/components/ui/TransactionProgressModal.tsx
  src/components/wallet-connect/ConnectCardanoWallet.tsx
  src/components/wallet-connect/ConnectMidnightWallet.tsx
  src/components/wallet-connect/WalletsModal.tsx
  src/contexts/Providers.tsx
Due: eslint, prettier

chore/update cap
  src/components/dashboard/GenerationRateCard.tsx
  src/contexts/WalletContext.tsx
  src/hooks/useGenerationStatus.ts
Due: eslint, prettier

chore/fixes to build again
  next.config.ts
  package.json
Due: eslint, prettier

chore/fix build
  Dockerfile
  src/components/dashboard/__tests__/GenerationRateCard.test.tsx
  src/hooks/__tests__/useGenerationStatus.test.ts
Due: eslint, prettier

chore/fix scan
  package.json
  yarn.lock
Due: prettier

chore/update dockerfile
  Dockerfile
  next.config.ts
Due: eslint, prettier

chore/fix headers and button
  src/components/wallet-connect/WalletsModal.tsx
  src/contexts/WalletContext.tsx
  src/proxy.ts
Due: eslint, prettier

chore/update scan vulnerabilities
  package.json
  yarn.lock
Due: prettier

chore/update button setup for midnight
  src/components/ConnectMain.tsx
  src/components/dashboard/MidnightWalletCard.tsx
  src/components/wallet-connect/ConnectMidnightWallet.tsx
  src/components/wallet-connect/WalletsModal.tsx
  src/contexts/WalletContext.tsx
  vitest.setup.mts
Due: eslint, prettier

Path conditions:
  eslint: any of: \.[jt]sx?$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.(md|markdown|mdown)$
