Repository midnightntwrk/midnight-cnight-to-dust-dapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npx next lint --fix --file
        language: system
        files: \.[jt]sx?$
        types: [file]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write --ignore-unknown
        language: system
        types_or: [javascript, jsx, ts, tsx, json, css, markdown]

Clean up actions and fix checkmarx alerts
  .github/workflows/checkmarx.yml
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  Dockerfile
Due: none

Test build output and use release branches
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
Due: none

Fix build error and add codecov badge
  .github/workflows/ci.yml
  README.md
Due: prettier

Don't fail on code coverage now
  vitest.config.mts
Due: prettier

Standardize prettier config
  prettier.config.js
Due: eslint, prettier

ci: codecov should use oidc
  .github/workflows/ci.yml
Due: none

Update CODEOWNERS
  CODEOWNERS
Due: none

ci: codecov should use oidc (#28)
  .github/workflows/ci.yml
  CODEOWNERS
Due: none

Move to local coverage report
  .github/workflows/ci.yml
  README.md
  vitest.config.mts
Due: prettier

Fix coverage
  .github/workflows/ci.yml
  README.md
Due: prettier

CI/local-coverage (#29)
  .github/workflows/ci.yml
  README.md
  vitest.config.mts
Due: prettier

SRE-1613 and security headers and health endpoints
  next.config.ts
  src/app/api/health/__tests__/health.test.ts
  src/app/api/health/ready/__tests__/ready.test.ts
  src/app/api/health/ready/route.ts
  src/app/api/health/route.ts
Due: eslint, prettier

SRE-1613 and security headers and health endpoints (#30)
  next.config.ts
  src/app/api/health/__tests__/health.test.ts
  src/app/api/health/ready/__tests__/ready.test.ts
  src/app/api/health/ready/route.ts
  src/app/api/health/route.ts
Due: eslint, prettier

ci: switch to open source scanning
  .github/workflows/checkmarx.yml
  .github/workflows/scan.yml
  CODEOWNERS
Due: none

fix/update to yarn3 (#32)
  .yarn/releases/yarn-4.12.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier

Bump scan version to fix clojure parse error
  .github/workflows/scan.yml
Due: none

Update scan sha
  .github/workflows/scan.yml
Due: none

ci: switch to open source scanning (#31)
  .github/workflows/checkmarx.yml
  .github/workflows/scan.yml
  CODEOWNERS
Due: none

chore/update next.js
  next.config.mts
  package.json
  src/app/api/contract/cnight-generates-dust-else/route.ts
  src/app/api/contractUtils.ts
  src/app/api/contract_blueprint.ts
  src/app/api/dustTransactionsUtils.ts
  src/components/Onboard.tsx
  src/components/dashboard/MidnightWalletCard.tsx
  src/contexts/Providers.tsx
  src/hooks/useRegistrationUtxo.ts
  tsconfig.json
  yarn.lock
Due: eslint, prettier

chore/update next.js
  next.config.ts
  package.json
  tailwind.config.js
  yarn.lock
Due: eslint, prettier

chore/update next.js
  package.json
  tsconfig.json
  yarn.lock
Due: prettier

chore/fix linting fix CI and delete unused file and code
  .yarn/releases/yarn-4.12.0.cjs
  eslint.config.mjs
  package.json
  src/components/Navbar.tsx
  src/components/ThemeSwitcher.tsx
  src/components/dashboard/DustLifecycleChart.tsx
  src/config/contract_blueprint.ts
  src/lib/contractUtils.ts
  yarn.lock
Due: eslint, prettier

chore/update the pre-commit hook as well
  .pre-commit-config.yaml
Due: none

chore/initial changes to dust app
  src/app/api/dust/generation-status/route.ts
  src/config/network.ts
  src/contexts/TransactionContext.tsx
  src/hooks/useRegistrationUtxo.ts
Due: eslint, prettier

fix/conflicts
  package.json
  yarn.lock
Due: prettier

chore/update next.js
  next.config.ts
  package.json
  tailwind.config.js
  tsconfig.json
  yarn.lock
Due: eslint, prettier

chore/update next.js
  package.json
  yarn.lock
Due: prettier

chore/update hook
  next.config.ts
  src/config/network.ts
  src/hooks/useGenerationStatus.ts
Due: eslint, prettier

chore/update errors
  src/components/dashboard/GenerationRateCard.tsx
  src/hooks/useGenerationStatus.ts
Due: eslint, prettier

chore/clean logs
  src/contexts/TransactionContext.tsx
  src/hooks/useGenerationStatus.ts
  src/lib/dustTransactionsUtils.ts
Due: eslint, prettier

chore/clean logs
  src/app/api/dust/generation-status/route.ts
  src/hooks/useRegistrationUtxo.ts
  src/lib/dustTransactionsUtils.ts
Due: eslint, prettier

chore/fix toast
  src/components/dashboard/IndexerSyncBanner.tsx
  src/components/onboard/MatchAddressesCard.tsx
  src/hooks/useToast.ts
Due: eslint, prettier

chore/fix indexer endpoing fallback
  src/app/api/dust/generation-status/[key]/route.ts
Due: eslint, prettier

fix/pr feedback
  src/hooks/useGenerationStatus.ts
Due: eslint, prettier
