Repository midnightntwrk/midnight-cnight-to-dust-dapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -lc 'yarn -s eslint --fix --max-warnings=0'
        language: system
        files: \.[jt]sx?$

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -lc 'yarn -s prettier --write --ignore-unknown'
        language: system
        types_or: [javascript, jsx, ts, tsx, json, css, markdown]

chore/update low level headers
  src/app/api/blockfrost-cache-stats/route.ts
  src/app/api/blockfrost/[...all]/route.ts
  src/app/api/dust/generation-status/[key]/route.ts
  src/app/api/dust/generation-status/route.ts
  src/app/api/health/ready/route.ts
  src/app/api/health/route.ts
  src/app/api/runtime-config/route.ts
  src/lib/cors.ts
Due: eslint, prettier

fix/low warning on headers
  src/proxy.ts
Due: eslint, prettier

chore/fix tests
  src/app/api/dust/generation-status/__tests__/generationStatus.test.ts
Due: eslint, prettier

fix(security): add COEP and CORP headers to API security helper
  src/lib/cors.ts
Due: eslint, prettier

chore/update tooltip balance cap
  src/components/dashboard/CardanoWalletCard.tsx
  src/components/dashboard/GenerationRateCard.tsx
  src/components/dashboard/MidnightWalletCard.tsx
  src/lib/specksToTDust.ts
Due: eslint, prettier

chore/update tests and documentation
  docs/API.md
  src/components/dashboard/MidnightWalletCard.tsx
  src/components/dashboard/__tests__/CardanoWalletCard.test.tsx
  src/components/dashboard/__tests__/GenerationRateCard.test.tsx
  src/contexts/WalletContext.tsx
  src/hooks/__tests__/useGenerationStatus.test.ts
  src/hooks/useGenerationStatus.ts
  src/lib/__tests__/specksToTDust.test.ts
Due: eslint, prettier

chore/update with fix for pairing
  src/contexts/WalletContext.tsx
  src/hooks/useRegistrationUtxo.ts
Due: eslint, prettier

chore/fix add tooltip to night balance
  src/components/dashboard/CardanoWalletCard.tsx
Due: eslint, prettier

chore/fix tests
  src/components/Navbar.tsx
  src/components/dashboard/__tests__/CardanoWalletCard.test.tsx
Due: eslint, prettier

fix/dustBalance permanently loading if equal to 0
  src/components/dashboard/MidnightWalletCard.tsx
  src/components/dashboard/__tests__/CardanoWalletCard.test.tsx
  src/contexts/WalletContext.tsx
Due: eslint, prettier

chore/update with feedback from PR
  src/components/dashboard/GenerationRateCard.tsx
  src/hooks/useRegistrationUtxo.ts
  src/lib/__tests__/specksToTDust.test.ts
  src/lib/specksToTDust.ts
Due: eslint, prettier

chore/fix tests
  src/components/dashboard/__tests__/GenerationRateCard.test.tsx
Due: eslint, prettier

feat: semantic release added to CI
  .github/workflows/docker-build.yml
  .github/workflows/release.yml
  .releaserc.json
  README.md
Due: prettier

fix: remove leftover debug console.log in ConnectMidnightCard
  src/components/onboard/ConnectMidnightCard.tsx
Due: eslint, prettier

fix: add final notes to README
  CONTRIBUTING.md
Due: prettier

chore:update semantic release ci
  .github/workflows/release.yml
  .releaserc.json
  README.md
Due: prettier

Notes added by 'git notes add'
  c01e59ab3f1fe14c13d896816bf4b74de9efa98e
Due: none

Bump version from 0.1.2 to 1.0.0
  package.json
Due: prettier

chore: update mainnet NIGHT policy ID and encoded name
  Dockerfile
  src/config/runtime-config.ts
  src/contexts/__tests__/RuntimeConfigContext.test.tsx
Due: eslint, prettier

chore: update mainnet NIGHT policy ID and encoded name (#122)
  Dockerfile
  src/config/runtime-config.ts
  src/contexts/__tests__/RuntimeConfigContext.test.tsx
Due: eslint, prettier

chore: update mapping validator to mainnet
  src/config/contract_blueprint.ts
Due: eslint, prettier

fix: defer wallet connect until runtime config is loaded
  src/components/Onboard.tsx
  src/components/onboard/ConnectCardanoCard.tsx
  src/contexts/WalletContext.tsx
Due: eslint, prettier

feat: mainnet DUST mapping support and registration flow improvements
  src/config/__tests__/contract_blueprint.test.ts
  src/config/contract_blueprint.ts
  src/hooks/useRegistrationUtxo.ts
  src/lib/dustTransactionsUtils.ts
Due: eslint, prettier

fix: update contract and currency encoded name
  Dockerfile
  src/contexts/__tests__/RuntimeConfigContext.test.tsx
Due: eslint, prettier

Notes added by 'git notes add'
  912b647eae302b361b41313a71c316d207ff061b
Due: none

fix: clarify FAQ DUST generation timing as minimum duration
  src/components/dashboard/IndexerSyncBanner.tsx
  src/components/dashboard/__tests__/IndexerSyncBanner.test.tsx
  src/components/ui/Faqs.tsx
Due: eslint, prettier

Notes added by 'git notes add'
  92f2ba2bb064a6a2ac127c2fb82ab8e38774026d
Due: none

fix/update proxy to accept the new mainnet url
  src/app/api/blockfrost/[...all]/route.ts
Due: eslint, prettier

fix: double search trigger on change address
  src/components/dashboard/MidnightWalletCard.tsx
Due: eslint, prettier

fix: update registration on change address
  src/lib/dustTransactionsUtils.ts
Due: eslint, prettier

fix: update ci run build for scan
  .github/workflows/scan.yml
Due: none

feat: add updating token with new requirements
  src/lib/dustTransactionsUtils.ts
Due: eslint, prettier

chore: update scan ci
  .github/workflows/scan.yml
Due: none

chore/fix vulnerabilities
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  .github/workflows/release.yml
  .github/workflows/scan.yml
Due: none

Notes added by 'git notes add'
  12b0e3ef82c8df34e82751ad1c314951baf38066
Due: none

fix: convert NIGHT balance from raw stars in onboard/connection UI (issue #4)
  src/components/onboard/ConnectCardanoCard.tsx
  src/components/onboard/MatchAddressesCard.tsx
  src/components/wallet-connect/ConnectCardanoWallet.tsx
Due: eslint, prettier

Notes added by 'git notes add'
  89a7944ed400857ff3efd487b2d1e27579ba9f26
Due: none

fix: pin upload-sarif-github-action to latest SHA
  .github/workflows/scan.yml
Due: none
