Repository midnightntwrk/midnight-cnight-to-dust-dapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -lc 'yarn -s eslint --fix --max-warnings=0'
        language: system
        files: \.[jt]sx?$

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -lc 'yarn -s prettier --write --ignore-unknown'
        language: system
        types_or: [javascript, jsx, ts, tsx, json, css, markdown]

feat: derive address from pkh
  src/contexts/WalletContext.tsx
  src/lib/utils.ts
Due: eslint, prettier

fix: pin upload-sarif-github-action to latest SHA (KICS/Trivy disabled)
  .github/workflows/scan.yml
Due: none

Notes added by 'git notes add'
  f9222e4c3743222dc54e11f28487c9d3834a8856
Due: none

chore: clean code up
  src/contexts/WalletContext.tsx
  src/lib/utils.ts
Due: eslint, prettier

chore: update message to what it was before
  src/contexts/WalletContext.tsx
Due: eslint, prettier

Notes added by 'git notes add'
  f3d62612684c40b5bebac57e54ae28f596999364
Due: none

chore/update string
  src/hooks/useRegistrationUtxo.ts
Due: eslint, prettier

fix: refresh Cardano balance after transactions (PM-22382)
  src/components/Onboard.tsx
  src/components/dashboard/MidnightWalletCard.tsx
  src/components/dashboard/__tests__/GenerationRateCard.test.tsx
  src/contexts/WalletContext.tsx
Due: eslint, prettier

chore/update with blockfrods config and no cache for requests
  src/app/api/blockfrost/[...all]/route.ts
Due: eslint, prettier

fix: show buttons for deregistration when onchain registrations happen
  src/components/dashboard/MidnightWalletCard.tsx
Due: eslint, prettier

chore:fix the other button too
  src/components/dashboard/MidnightWalletCard.tsx
Due: eslint, prettier

Notes added by 'git notes add'
  2e6e18689130f9e52280a1b39289a2c85fc0ddcd
Due: none

feat(security): wire basic auth middleware so BASIC_AUTH_PASSWORD is enforced (SRE-2067)
  src/middleware.ts
Due: eslint, prettier

feat(security): wire basic auth middleware so BASIC_AUTH_PASSWORD is enforced (SRE-2067)
  src/middleware.ts
  src/proxy.ts
Due: eslint, prettier

chore: remove from disconnect because its redundant
  src/components/dashboard/MidnightWalletCard.tsx
Due: eslint, prettier

feat: add a timer instead of a call back
  src/components/Onboard.tsx
  src/components/dashboard/MidnightWalletCard.tsx
  src/components/dashboard/__tests__/GenerationRateCard.test.tsx
  src/contexts/WalletContext.tsx
Due: eslint, prettier

Notes added by 'git notes add'
  b85064b40f035cca49136c5dc54937fedb4d7527
Due: none

Notes added by 'git notes add'
  59c9f3ff01c90bb70bd07b829ef3e638e3fe4631
Due: none

fix:update also when the user has made a manual registration
  src/contexts/WalletContext.tsx
Due: eslint, prettier

chore: fix the issue about blockfrost
  src/app/api/blockfrost/[...all]/route.ts
Due: eslint, prettier

chore/fix withdrawals per stake address
  src/lib/dustTransactionsUtils.ts
Due: eslint, prettier

feat!: add multiple registration utxo search and delete deregister
  src/components/Dashboard.tsx
  src/components/dashboard/ReplicateRegistrationBanner.tsx
  src/components/dashboard/__tests__/CardanoWalletCard.test.tsx
  src/components/dashboard/__tests__/ReplicateRegistrationBanner.test.tsx
  src/contexts/WalletContext.tsx
  src/hooks/useRegistrationUtxo.ts
Due: eslint, prettier

fix: refine the search and the deregistration
  src/components/Dashboard.tsx
  src/hooks/useRegistrationUtxo.ts
Due: eslint, prettier

chore: remove not needed code
  src/contexts/WalletContext.tsx
Due: eslint, prettier

Revert "Merge pull request #141 from midnightntwrk/chore/add-duplicate-utxo-deregistration"
  src/components/Dashboard.tsx
  src/components/dashboard/ReplicateRegistrationBanner.tsx
  src/components/dashboard/__tests__/CardanoWalletCard.test.tsx
  src/components/dashboard/__tests__/ReplicateRegistrationBanner.test.tsx
  src/contexts/WalletContext.tsx
  src/hooks/useRegistrationUtxo.ts
Due: eslint, prettier

Notes added by 'git notes add'
  a460b41e62c976eab47d5404d7df4800571ed4dd
Due: none

Notes added by 'git notes add'
  c224f1b3801bf4f5fcd5cacd9cfa6e6d8a590e79
Due: none

Revert "Merge pull request #143 from midnightntwrk/revert-pr-141"
  src/components/Dashboard.tsx
  src/components/dashboard/ReplicateRegistrationBanner.tsx
  src/components/dashboard/__tests__/CardanoWalletCard.test.tsx
  src/components/dashboard/__tests__/ReplicateRegistrationBanner.test.tsx
  src/contexts/WalletContext.tsx
  src/hooks/useRegistrationUtxo.ts
Due: eslint, prettier

Notes added by 'git notes add'
  6d66b735b90294cc9505012a89ed71d15d3b482e
Due: none

fix: convert dust/sercond to dust/hour
  src/components/dashboard/GenerationRateCard.tsx
  src/components/dashboard/__tests__/GenerationRateCard.test.tsx
Due: eslint, prettier

fix: tests
  src/components/dashboard/__tests__/GenerationRateCard.test.tsx
Due: eslint, prettier

chore/update version
  package.json
Due: prettier

Notes added by 'git notes add'
  5380de1dabd2841e3c11a03c9b82e27ed218fd9b
Due: none

fix: fix calculation precission
  src/components/dashboard/GenerationRateCard.tsx
Due: eslint, prettier

fix: tests
  package.json
  src/components/dashboard/__tests__/GenerationRateCard.test.tsx
Due: eslint, prettier

Notes added by 'git notes add'
  9e97d3ab7404ef9b782c15bdceb034b203d65bff
Due: none

chore(renovate): migrate to org-wide hardened preset
  renovate.json
Due: prettier

chore(renovate): move config to .github/renovate.json
  .github/renovate.json
Due: prettier

fix: correct warning message for Dust registration timings
  src/components/dashboard/IndexerSyncBanner.tsx
Due: eslint, prettier

Notes added by 'git notes add'
  db3ab8b8564ed2a3e73fac464617d722c0bc7d8d
Due: none
